<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body>

    
  <nav>
    <div class="nav-wrapper">
      <div class="container">
      <ul id="nav-mobile" class="right  hide-on-med-and-down">
          <li><a href="/app/admin/posts">Posts</a></li>
          <li><a href="/app/admin/user">Users</a></li>
      </ul>
      <a href="/app/admin" class="left brand-logo ">Admin</a>
    </div>
    </div>
  </nav>
  
    
</body>
</html>