<%-include(".. /include/head.ejs") %>


    </head>

    <body>


        <%-include(".. /include/header.ejs") %>

            <div class="row">
                <form class="col s12" action="/login" method="post">

                    <button type="submit" class="btn btn primary">Login</button>
                </form>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col s6">6-columns (one-half)</div>
                    <div class="col s6">6-columns (one-half)</div>
                </div>
            </div>


            <%-include(".. /include/footer.ejs") %>