
  <nav>
    <div class="nav-wrapper">
      <div class="container">
      <ul id="nav-mobile" class="right  hide-on-med-and-down">
        <li><a href="/">Post</a></li>
        <li><a href="/Profile">Profile</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/ragister">Ragister</a></li>
      </ul>
      <a href="/" class="left brand-logo ">Testing</a>
    </div>
    </div>
  </nav>
  