
    
    <%-include("../include/head.ejs") %>
    </head>
    <body>

        <div class="container">

    
    <div class="row">
    <form class="col s12" action="/ragister" method="post">
      <div class="row">
        <div class="input-field  col s12">
          <input placeholder="Placeholder" id="name"name="name" type="text" class="validate">
          <label for="first_name"> Name</label>
        </div>
       
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input id="email" type="email" name="email" placeholder=""class="validate">
              <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
           <button type="submit" class="btn btn primary">Sign in</button>
    </form>
  </div>
         </div>
  
    <%-include("../include/footer.ejs") %>
    
  
     

